<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SZKT menetrendek</a>
</nav>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-3">
      <h5>Choose Agency</h5>
      <div>
        <a href="#" *ngFor="let agency of agencies" (click)="changeAgencies($event, agency)" class="list-group-item" >{{agency.agencyName}}</a>
      </div>
    </div>
    <div class="col-3">
      <h5>Vehicle number</h5>
      <div>
        <a href="#" *ngFor="let route of routes" (click)="changeRoute($event, route)" class="list-group-item">{{route.routeShortName}}</a>
      </div>
    </div>
  </div>
</div>
