<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-8 mx-auto">
          <img class="rounded-circle mx-auto d-block w-50 mt-5 " src="assets/img/profile.jpg" alt="Profile picture">
          <h3>Akos Elek</h3>
          <h5>University student, SysAdmin and Junior DevOps engineer</h5>
          <p>This project parts of the frontend are made for web development frameworks and backend parts are made for python for daily usage courses.</p>
        </div>
    </div>
</div>
