<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SZKT menetrendek</a>
</nav>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h5>Choose Agency</h5>
      <div>
        <a href="#" *ngFor="let agency of agencies" (click)="changeAgencies($event, agency)" class="list-group-item" >{{agency.agencyName}}</a>
      </div>
      <div *ngIf="selectedAgency">
        <h6>Agency information</h6>
        <p href="#" >{{selectedAgency.agencyName}}</p>
        <p href="#" >{{selectedAgency.agencyPhone}}</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h5>Vehicle number</h5>
      <div>
        <a href="#" *ngFor="let route of routes" (click)="changeRoute($event, route)" class="list-group-item">{{route.routeShortName}}</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h4>Trips</h4>
      <div>
        <div *ngFor="let trip of removeDuplicates(trips)">
          <a href="#" (click)="changeTrip($event, trip)" class="list-group-item">{{trip.name}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h4>Stops</h4>
      <div>
        <a href="#" *ngFor="let stop of stops" (click)="changeStop($event, stop)" class="list-group-item">{{stop.stopName}}</a>
      </div>
    </div>
  </div>
</div>
