<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SZKT menetrendek</a>
</nav>
<nav class="navbar bg-danger">
  <a class="navbar-brand text-white" href="#">The application is under intense development, so may occur data may be inaccurate</a>
</nav>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 mt-4 ">
      <h4>Choose Agency</h4>
      <div>
        <select class="custom-select" (change)="changeAgencies($event)">
          <option value="" selected hidden>Choose agency</option>
          <option *ngFor="let agency of agencies" [value]="agency.agency_id">{{agency.agency_name}}</option>
        </select>
      </div>
      <div *ngIf="selectedAgency">
        <h6>Agency information</h6>
        <p href="#" >{{selectedAgency.agency_name}}</p>
        <p href="#" >{{selectedAgency.agency_phone}}</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-4 ">
      <h4>Vehicle number</h4>
      <div>
        <select class="custom-select" (change)="changeRoute($event)">
          <option value="" selected hidden>Choose vehicle number</option>
          <option *ngFor="let route of routes" [value]="route.route_id">{{route.route_short_name}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-4 ">
      <h4>Trips</h4>
      <div>
        <select class="custom-select" (change)="changeTrip($event)">
          <option value="" selected hidden>Choose direction</option>
          <option *ngFor="let trip of removeDuplicates(trips)" [value]="trip.trip_id">{{trip.trip_headsign}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-4 ">
      <h4>Stops</h4>
      <div>
        <select class="custom-select" (change)="changeStop($event)">
          <option value="" selected hidden>Choose stop</option>
          <option *ngFor="let stop of stops" [value]="stop.stop_id">{{stop.stop_name}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-4 ">
      <h4>Times</h4>
      <div>
        <a href="#" *ngFor="let time of times" class="list-group-item">{{time.arrival_time}}</a>
      </div>
    </div>
  </div>
</div>
